
#div_name ul {
    list-style-type: none;
  }
#div_header {
    background-color: darkmagenta;
    display: flex;
}
#div_menu a{
    color : wheat;
    padding: 15px;
    text-decoration: none;
}
a:hover {
    background-color: blueviolet;
    text-decoration-line: underline;
    font-style: ;
}
#div_name {
    color: wheat;
    flex: 1;
}
h1 {
    color: darkmagenta;
}
#div_skill {
    border: 1px solid wheat ;
    padding: 5px;
    margin: 10px;
    text-align: center;
    box-shadow: 5px 10px 8px #888888;
    width: max-content;
    height: max-content;
}
i.fab{
   color: #FFD43B;
}
#div_skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
#message {
    margin: 10px;
}
#div_recommendations{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
#div_msg {
    border: 1px solid wheat ;
    padding: 5px;
    margin: 10px;
    text-align: center;
    box-shadow: 5px 10px 8px #888888;
    max-width: 40%;
    height: max-content;
}
#scrollUpBtn {
    float: right;
    color:darkmagenta;
}
button {
    background-color: transparent;
    color: darkmagenta;
    border-color: darkmagenta;
}
#popUp {
    display: none;
    background-color: wheat;
    border:2px dotted lightpink;
    width:400px;
    padding: 5px;
}


i.fas {
    color: darkmagenta;
}